.formulario{

background:white;

width:95%;

max-width:900px;

margin:30px auto;

padding:30px;

border-radius:20px;

box-shadow:0 8px 20px rgba(0,0,0,.2);

}

/* ========================================
   ENCABEZADO
======================================== */

.formulario h1 {
  grid-column: 1 / -1;

  margin: -30px -30px 15px -30px;

  padding: 22px;

  text-align: center;

  background: #f28b8b;

  color: #ffffff;

  font-size: 28px;

  font-weight: bold;

  border-radius:
    16px 16px 0 0;

  box-shadow:
    0 3px 8px rgba(0, 0, 0, 0.12);
}


.formulario h1{

color:#FFFFFF;

margin-bottom:25px;

}



.grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}



.grid input,
.grid select{

width:100%;

padding:8px;

border:1px solid #ccc;

border-radius:8px;

}



.foto{

margin-top:20px;

padding:20px;

border:1px solid #ddd;

border-radius:10px;

}



.foto input{

display:block;

margin-top:10px;

}



.foto img{

width:200px;

margin-top:15px;

border-radius:10px;

}



.boton{

margin-top:30px;

width:100%;

padding:15px;

background:#ff0000;

color:white;

border:none;

border-radius:10px;

font-size:18px;

cursor:pointer;

}
.boton1{

margin-top:30px;

width:30%;

padding:15px;

background:#ff0000;

color:white;

border:none;

border-radius:10px;

font-size:18px;

cursor:pointer;

}