.opciones-operacion{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:25px;

margin-top:30px;

}



.opciones-operacion .tarjeta{

height:220px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}



.opciones-operacion .tarjeta i{

font-size:55px;

}