.campo{

margin-bottom:20px;

}


.campo input,
.campo select,
.campo textarea{

width:100%;

padding:12px;

border-radius:8px;

border:1px solid #ccc;

font-size:16px;

}



textarea{

resize:none;

}